* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

#nav {
    height: 100px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    padding: 0 30px;
}

#nav h4 {
    font-size: 20px;
    font-weight: 600;
}

#nav i {
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 50%;
    font-weight: 500;
}

#center {
    width: 100%;
    /* background-color: red; */
    padding: 40px 80px;
}

#center h1 {
    font-size: 80px;
    font-weight: 500;
    line-height: 90px;
}

#center-in {
    height: 200px;
    /* background-color: red; */
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
#center-in p{
    font-size: 22px;
    font-weight: 600;
    line-height: 32px;
}

#right{
    width: 20%;
}

.elem{
    /* background-color: yellow; */
    /* margin: 5px; */
    padding: 20px 0;
    border-top: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.elem i{
    font-size: 25px;
    font-weight: 500;
    opacity: 0;
}

.elem a{
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
}

.elem:hover i{
    opacity: 1;
}

#bottom{
    height: 35%;
    width: 100%;
    background-color: red;
    background-image: url(https://media.istockphoto.com/id/1182617865/photo/photo-of-young-curly-girl.jpg?s=2048x2048&w=is&k=20&c=LlHiahZ7Oux1FkLQ1Pfi399HxScDQbawYaPZYQComMY=);
    background-size: cover;
    background-position: center;
    

}

